In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.utils import shuffle
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:
1. accuracy mse
2. 标准化 - max
3.

In [3]:
DATA_PATH = "./data/final_project"
df = pd.read_csv( os.path.join(DATA_PATH, "AAPL.csv") )
# delete duplications
df = df.drop_duplicates()
# rename columns
df.head()

,Dt,Adj Close,Close,Div,Factor,High,Low,Open,Volume
0,2000-01-03,3.4785,111.938,0.0,1.0,112.500,101.688,104.8750,133949200.0
1,2000-01-04,3.1852,102.500,0.0,1.0,110.625,101.188,108.2500,128094400.0
2,2000-01-05,3.2318,104.000,0.0,1.0,110.563,103.000,103.7500,194580400.0
3,2000-01-06,2.9521,95.000,0.0,1.0,107.000,95.000,106.1183,191993200.0
4,2000-01-07,3.0920,99.500,0.0,1.0,101.000,95.500,96.5000,115183600.0

In [7]:
ord('z')-97

25

In [8]:
d = {}
d[0] = 1
d

{0: 1}

In [10]:
a = 'sss'
a.split('+')

['sss']

In [25]:
import collections
nums1 = [1,2,2,1,3,5]
nums2 = [2,2,3,4]
d1 = collections.Counter(nums1)
d2 = collections.Counter(nums2)
d = (d1) - (d1 - d2)
l = []
for i in d.keys():
    l.extend([i]*d.get(i))
l

[2, 2, 3]

In [29]:
list((d1 & d2).elements())

[2, 2, 3]

In [32]:
bin(10)[2:].count('1')

2

In [35]:
'000'.count('1')

0